<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated corresp -->
      <package
            uri="http://BxtendCryptoImpl/correspondence.ecore"
            class="BxtendCryptoImpl.BxtendCryptoImplPackage"
            genModel="model/corresp.genmodel"/>
   </extension>
   <extension
         point="com.kaleidoscope.extensionpoint.bxtool">
      <client
            class="kaleidocrypt.implemenation.BxtendTool"
            name="bxtend">
      </client>
   </extension>

</plugin>
