<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="CryptoConfigToJava.CryptoConfigToJavaPackage" genModel="model/CryptoConfigToJava.genmodel" uri="platform:/plugin/CryptoConfigToJava/model/CryptoConfigToJava.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="CryptoConfigToJava.Rules.RulesPackage" genModel="model/CryptoConfigToJava.genmodel" uri="platform:/plugin/CryptoConfigToJava/model/CryptoConfigToJava.ecore#//Rules"/>
  </extension>
</plugin>
