<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="Employees.EmployeesPackage" genModel="model/Employees.genmodel" uri="platform:/plugin/com.kaleidoscope.usecase.showcase.metamodel.employee/model/Employees.ecore"/>
  </extension>
</plugin>
