/CryptoConfigToJava.ecore
/CryptoConfigToJava.genmodel
/CryptoConfigToJava.injection.xmi
/CryptoConfigToJava.pre.ecore
/CryptoConfigToJava.pre.tgg.xmi
/CryptoConfigToJava.sma.xmi
/CryptoConfigToJava.tgg.xmi
