<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="KitchenToGridLanguage.KitchenToGridLanguagePackage" genModel="model/KitchenToGridLanguage.genmodel" uri="platform:/plugin/KitchenToGridLanguage/model/KitchenToGridLanguage.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="KitchenToGridLanguage.Rules.RulesPackage" genModel="model/KitchenToGridLanguage.genmodel" uri="platform:/plugin/KitchenToGridLanguage/model/KitchenToGridLanguage.ecore#//Rules"/>
  </extension>
</plugin>
